*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;

}
.table{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.seg1{
    width: 50%;
    height: 50%;
    float: left;
    background-color: white;
}
.image{
    width: 450px;
    min-height: 400px;
    line-height: 400px;
    align-items: center;
    margin-left: 150px;
    margin-top: 15px;
   

}
.seg2{
    width: 50%;
    height: 50%;
    float: right;
    background-color: white;
    /* margin-left:0px;
    margin-right: 100px; */

}

.instagramlogo{
    width: 200px;
    height: 110px;
}
.square{
    width: 25px;
    height: 23px;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxe{
    margin-top: 50px;
    margin-right: 300px;
}
.center{
    width:360px;
    border: 1px solid rgb(195, 195, 195);
     border-radius: 5px ;
}
.center .header{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 17px;
}
.center .inputElement{
    display: flex;
flex-direction: column;
margin: 0px 37px 0px 37px;
}
.inputElement .inputtext{
    margin-top: 10px;
    padding: 8px;
    font-size: 15px;

}
.inputtext:focus{
    outline: gray;
}
 .inputbutton{
    font-size: 15px;
    color: white;
    padding-top: 10px;
    background-color: rgb(9, 132, 215);
   
    margin-top:20px ;
    border-radius: 4px;
    padding-bottom: 8px;
    border: none;
}
.line {
display: flex;
margin-top: 10px;
}
.arrow{
    background-color: gray;
    height: 1px;
    width: 140px;
    margin: 20px;
    
}
.content{
    align-items: center;
    margin-top: 14px;
margin-bottom: 4px;
margin-right: 4px;
}
.social_icon span{
    font-size: 14px;
    margin-top: 20px;
    font-weight: 500;
}

.square{
    margin: auto;
    margin-left: 55px;
    margin-top: 22px;
    font-weight: 500;
}

.forgetpassword{
    justify-content: center;
    margin: 30px;
    margin-left: 80px;
    color: rgb(3,66, 124);
}
.footer{
    margin-top: 20px;
    box-sizing: border-box;
border: 1px solid rgb(195, 195, 195);
padding: 20px;
width: 350px;
text-align: center;
}
.footer span{
    color: rgb(0, 66, 128);
    font-weight: 400;
}
.last{
    justify-content: center;
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.zee{
    width: 200px;
    height: 70px;
    
}
.zee1{
    width: 200px;
    margin-top: 20px;
}
